# META
TZ=Asia/Vladivostok


# Postgres
DATABASE="postgres"
POSTGRES_PORT="5432"
POSTGRES_HOST="database"
POSTGRES_USER="postgres"
DATABASE_URL="postgresql://postgres:your_db_password@database:5432/your_db_name?serverVersion=16&charset=utf8"

# If you want to change these values, don't forget to change them in .docker/dev/postgresql/init.sql
POSTGRES_DB="your_db_name"
POSTGRES_PASSWORD="your_db_password"


# PHP
MAILER_DSN=null://null
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

APP_ENV="dev"
APP_DEBUG=1
APP_SECRET=90ebbcfd47870a21a21bbb82a384ff4c
