# META
TZ=Asia/Vladivostok

# Postgres
DATABASE="postgres"
POSTGRES_PORT="5432"
POSTGRES_HOST="database"
DATABASE_URL="postgresql://your_db_user:your_db_password@database:5432/your_db_name?serverVersion=16&charset=utf8"

POSTGRES_DB="your_db_name"
POSTGRES_USER="your_db_user"
POSTGRES_PASSWORD="your_db_password"


# PHP
MAILER_DSN=null://null
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

APP_ENV="prod"
APP_DEBUG=0
